<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_absolute" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Absolute</label>
            <tab>theme_editor</tab>
            <resource>Swissup_ThemeEditorSwissupAbsolute::config</resource>

            <group id="background" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Background</label>
                <field id="body_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Body</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="body_background" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="body_backgroundColor" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="body_backgroundRepeat" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="footer_heading" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footer_background" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="footer_backgroundColor" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footer_backgroundRepeat" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="navigation_heading" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigation_background" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="navigation_backgroundColor" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigation_backgroundRepeat" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="navigationUl_heading" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation List</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationUl_background" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="navigationUl_backgroundColor" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigationUl_backgroundRepeat" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="navigationActive_heading" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Active Item</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationActive_background" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="navigationActive_backgroundColor" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigationActive_backgroundRepeat" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="headerContent_heading" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Header Content</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="headerContent_background" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="headerContent_backgroundColor" translate="label" type="text" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="headerContent_backgroundRepeat" translate="label" type="select" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="headerContent_borderTop" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Border Top</label>
                </field>

                <field id="breadcrumbs_heading" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Breadcrumbs</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="breadcrumbs_background" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="breadcrumbs_backgroundColor" translate="label" type="text" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="breadcrumbs_backgroundRepeat" translate="label" type="select" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="pageMain_heading" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Main</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="pageMain_background" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>

                <field id="pageBottom_heading" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Bottom</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="pageBottom_background" translate="label" type="text" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="pageBottom_backgroundColor" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="pageBottom_backgroundRepeat" translate="label" type="select" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="pageBottom_borderTop" translate="label" type="text" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Border Top</label>
                </field>

                <field id="primaryButtons_heading" translate="label" type="text" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Buttons</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="primaryButtons_background" translate="label" type="text" sortOrder="380" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="primaryButtons_backgroundColor" translate="label" type="text" sortOrder="390" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="primaryButtons_backgroundRepeat" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="primaryButtonsHover_heading" translate="label" type="text" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Buttons Hover</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="primaryButtonsHover_background" translate="label" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background</label>
                </field>
                <field id="primaryButtonsHover_backgroundColor" translate="label" type="text" sortOrder="430" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="primaryButtonsHover_backgroundRepeat" translate="label" type="select" sortOrder="440" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
            </group>

            <group id="footer" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Footer</label>
                <field id="footerAdditional_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Additional</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerAdditional_borderTop" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Top Border</label>
                </field>
                <field id="footerAdditional_borderBottom" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Bottom Border</label>
                </field>
                <field id="switcherStore_heading" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Switcher</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="switcherStore_backgroundColor" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
            </group>

            <group id="navigation" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Navigation</label>
                <field id="navigationTopLinks_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Top Links</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationTopLinks_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Top Links Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigationSeparators_heading" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Separators</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationSeparators_borderRight" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Right Border</label>
                </field>
                <field id="navigationSeparators_boxShadow" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Box Shadow</label>
                </field>
            </group>

            <group id="fonts" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Fonts</label>
                <field id="blockTitle_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Title</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="blockTitle_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="pageTitle_heading" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Title</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="pageTitle_color" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="productLink_heading" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Link</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="productLink_color" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerContacts_heading" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Contacts</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerContacts_color" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerInformationalHeadings_heading" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Informational Headings</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerInformationalHeadings_color" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerInformationalLinks_heading" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Informational Links</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerInformationalLinks_color" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
            </group>
            <group id="category" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Page</label>
                <field id="categoryPagePreview" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preview page layout</label>
                    <frontend_model>Swissup\ThemeEditorSwissupAbsolute\Block\Adminhtml\System\Config\Form\Field\CategoryPagePreview</frontend_model>
                </field>
                <field id="page_layout" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layout</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\Layout</source_model>
                    <backend_model>Swissup\ThemeEditorSwissupAbsolute\Model\Config\Backend\CategoryPageLayout</backend_model>
                </field>
                <field id="description_position" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description position</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\Category\DescriptionDestination</source_model>
                    <backend_model>Swissup\ThemeEditorSwissupAbsolute\Model\Config\Backend\Category\MoveDescription</backend_model>
                </field>
                <field id="layered_navigation_position" translate="label" type="select" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layered Navigation position</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\Category\LayeredNavigationDestination</source_model>
                    <depends>
                        <!-- Hide layered navigation position option. Because it doesn't work in this theme -->
                        <field id="page_layout">none_existing_value</field>
                    </depends>
                </field>
                <field id="list_mode" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Products list mode</label>
                    <source_model>Magento\Catalog\Model\Config\Source\ListMode</source_model>
                    <config_path>catalog/frontend/list_mode</config_path>
                </field>
                <group id="grid" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Grid Mode</label>
                    <field id="per_page_values" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Products per Page Allowed Values</label>
                        <comment>Comma-separated.</comment>
                        <validate>validate-per-page-value-list required-entry</validate>
                        <config_path>catalog/frontend/grid_per_page_values</config_path>
                    </field>
                    <field id="per_page" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Products per Page Default Value</label>
                        <comment>Must be in the allowed values list</comment>
                        <validate>validate-per-page-value</validate>
                        <config_path>catalog/frontend/grid_per_page</config_path>
                    </field>
                    <field id="columns_count" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Columns per Row</label>
                        <comment><![CDATA[<b>Min width</b> - min width of a screen where columns number must be applied.<br /><b>Columns</b> - columns count itself.<br /><b>Spacing</b> - spacing between cells in grid. Play with this value for each width to adjust products in a row.]]></comment>
                        <frontend_model>Swissup\ThemeEditorSwissupAbsolute\Block\Adminhtml\System\Config\Form\Field\ColumnsCount</frontend_model>
                        <backend_model>Swissup\ThemeEditorSwissupAbsolute\Model\Config\Backend\CategoryColumnsCount</backend_model>
                    </field>
                </group>
                <group id="list" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>List Mode</label>
                    <field id="per_page_values" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Products per Page Allowed Values</label>
                        <comment>Comma-separated.</comment>
                        <validate>validate-per-page-value-list required-entry</validate>
                        <config_path>catalog/frontend/list_per_page_values</config_path>
                    </field>
                    <field id="per_page" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Products per Page Default Value</label>
                        <comment>Must be in the allowed values list</comment>
                        <validate>validate-per-page-value</validate>
                        <config_path>catalog/frontend/list_per_page</config_path>
                    </field>
                </group>
            </group>
            <include path="Swissup_ThemeEditor::system/head.xml"/>
            <include path="Swissup_ThemeEditor::system/themes.xml"/>
        </section>
    </system>
</config>
